<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="js.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="./js/script.js"></script>
    <title>Exemplo Biblioteca JS</title>
  </head>
  <body>
    <header>
      <div id="texto_header">
        <h1 id="HeaderInfo">Biblioteca Moment.js</h1>
      </div>
    </header>
    <main>
      <div id="descriptionMomentJSContainer">
        <h1 style="text-align: center;font-family: arial;">FALTAM APENAS</h1>
        <div id="contador"></div>
      </div>
      <div id="CenarioContainer" style="background-image: url(imgBackground.png)">
        <div id="FestivalContainer"><img src="FestivalCores.png" style="width:90%; height:550px"></div>
      </div>
      <h1 class="bigText">QUER RECEBER ATUALIZAÇÕES?</h1>
      <form class="form4Updates">
        <div>
          <input type="email" id="email" placeholder="insira o seu email" />
        </div>
        <button type="submit" id="button">Enviar</button>
      </form>
    </main>
    <footer>
      <h3 class="bigText" style="color:white">Copyright</h3>
      <h3  style="color:white; text-align:center; padding-top:50px; font-family:arial">Festival of Colors Event's </h3>
      <div class="infoFooter">
        <h3 style="font-family:arial; color:white">
           Telefones:(51)3423-2323
        </h3>
        <h3 style="font-family:arial; color:white">
          ContatoFestival-Cores@gmail.com.br  (51)3423-2323
        </h3>
        <h3 style="font-family:arial; color:white">
          Telefones:(51)0394-3403
        </h3>
      </div>
    </footer>
  </body>
</html>
